---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import randomAvatar from "../images/a random avatar.png";
import myself from "../images/me-linkdn.jpg";
import myseltAsAvatar from "../images/my-avatar-removebg.png";
---

<header class="mx-auto w-[27rem] lg:w-3/6">
  <div class="mt-28 lg:w-[30rem] flex flex-col gap-10">
    <div class="relative flex w-64 justify-between items-center">
      <Image
        src={myself}
        alt="my image"
        class="w-16 h-[66px] rounded-full z-20 fade-out"
      />
      <Image
        src={myseltAsAvatar}
        alt="my avatar"
        class="absolute left-0 w-16 h-[66px] rounded-full z-10 fade-in"
      />

      <!-- <div class="w-16 h-16 rounded-full bg-slate-700 left-0 fade-in bg-image">
    </div> -->
      <Button content="Listo para trabajar" />
    </div>
    <div class="flex flex-col gap-3">
      <h1 class="text-3xl font-bold text-pretty">
        Hola, soy Enzo Osorio Ortiz!
      </h1>
      <h4 class="text-teal-100">
        Soy estudiante de Ingeniería de software que le apasiona diseñar y crear
        páginas webs. Gracias a mis habilidades blandas, he podido resaltar
        mucho con los equipos que he trabajado. Mi responsabilidad y dedicación
        que coloco a cada una de las cosas que hago vienen de la disciplina que
        me enseñaron tener desde pequeño.
      </h4>
    </div>
    <div class="flex gap-6 text-white">
      <Button
        content="Contáctame"
        icon="email-svgrepo-com.svg"
        altIcon="email icon"
      />
      <Button
        content="LinkedIn"
        icon="linkedin-svgrepo-com.svg"
        altIcon="linkedin icon"
      />
    </div>
  </div>
</header>

<style>
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      clip-path: ellipse(50% 50% at 50% 50%);
      z-index: 10;
    }
    10% {
      opacity: 0;
      clip-path: ellipse(1% 1% at 0% 50%);
      z-index: -1;
    }
    40% {
      opacity: 0;
      clip-path: ellipse(1% 1% at 0% 50%);
      z-index: -1;
    }
    50% {
      opacity: 1;
      clip-path: ellipse(1% 1% at 100% 50%);
      z-index: 10;
    }
    60% {
      opacity: 1;
      clip-path: ellipse(50% 50% at 50% 50%);
      z-index: 10;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      clip-path: ellipse(1% 1% at 100% 50%);
      z-index: -1;
    }
    10% {
      opacity: 1;
      clip-path: ellipse(50% 50% at 50% 50%);
      z-index: 10;
    }
    50% {
      opacity: 1;
      clip-path: ellipse(50% 50% at 50% 50%);
      z-index: 10;
    }
    60% {
      opacity: 0;
      clip-path: ellipse(1% 1% at 0% 50%);
      z-index: -1;
    }
    100% {
      opacity: 0;
      clip-path: ellipse(1% 1% at 0% 50%);
      z-index: -1;
    }
  }

  .fade-out {
    animation: fadeOutLeft 10s infinite 2s;
  }

  .fade-in {
    animation: fadeInRight 10s infinite 2s;
  }

  .bg-image {
    background-image: url("../images/my-avatar-removebg.png");
  }
</style>
