---

---

<nav
  class="bg-emerald-500/10 absolute w-[28rem] text-sm flex justify-around left-1/2 -top-[80px] -translate-x-1/2 h-8 items-center rounded-md shadow-lg"
>
  <a href="#projects" class="hover:text-yellow-300 transition-colors"
    >Proyectos</a
  >
  <a href="#about" class="hover:text-yellow-300 transition-colors">Sobre mí</a>
  <a href="#qualities" class="hover:text-yellow-300 transition-colors"
    >Mis cualidades</a
  >
  <a href="#contact" class="hover:text-yellow-300 transition-colors">Contacto</a
  >
</nav>
